= form_for_filterrific @filterrific, class: 'form-horizontal' do |f|
  .row
    .col-sm-4
      .row
        .col-sm-3
          %label Since
        .col-sm-9
          = f.text_field :with_since_date, :class => 'js-datepicker form-control'
    .col-sm-4
      .row
        .col-sm-3
          %label To
        .col-sm-9
          = f.text_field :with_to_date, :class => 'js-datepicker form-control'
    .col-sm-4
      = render_filterrific_spinner
      = link_to t(:reset_filter), reset_filterrific_url

:javascript
  $('.js-datepicker').datepicker({
    format: 'dd.mm.yyyy',
    autoclose: true,
    weekStart: 1
  });
