- title t(:log_for_device_title) + " #{@device.name}"

%h1= yield(:title)

.row
  .col-md-12
    .text-center= will_paginate(@device_log_messages, :renderer => BootstrapPagination::Rails, :previous_label => "&larr; "+t(:newer), :next_label => t(:older)+" &rarr;")
    %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
      %tr
        %th= t(:module_th)
        %th= t(:level_th)
        %th= t(:type_th)
        %th= t(:details_th)
        %th= t(:device_time_th)
        %th= t(:server_time_th)
    
      - @device_log_messages.each do |log_item|
        %tr
          %td= log_item.module
          %td= log_item.level
          %td= log_item.etype
          %td= log_item.details
          %td= localtime log_item.localtime
          %td= localtime log_item.created_at
          
.row
  .col-md-12
    .text-center= page_entries_info(@device_log_messages)