= page_title(@device_log_messages)

= render_filter_form do |f|
  = filter_form_datetime(f, :with_since_date, class: 'js-datepicker', label: 'Since date')
  = filter_form_datetime(f, :with_to_date, class: 'js-datepicker', label: 'To date')

:javascript
  $('.js-datepicker').datepicker({
    format: 'dd.mm.yyyy',
    autoclose: true,
    weekStart: 1
  });

= render 'collection'

= link_to icon_link_to('export', 'CSV'), device_device_log_messages_path(device_id: params[:device_id], format: 'csv'), class: 'btn btn-default'
