<% content_for :page_title, t('.title', resource: resource.model_name.human) %>

<h1 class="title has-text-centered"><%= yield(:page_title) %></h1>

<div class="columns">
  <div class="column">
  </div>

  <div class="column">
    <div class="section">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: "label" %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
          <div class="control">
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
          </div>
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :displayed_name, class: "label" %>
          <div class="control">
            <%= f.text_field :displayed_name, class: "input" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit t('.update'), class: "button is-link" %>
        </div>
      <% end %>

      <br />
      <br />

      <article class="message is-danger">
        <div class="message-body">
          <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "button is-danger is-outlined" %></p>
        </div>
      </article>



      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>

  <div class="column">
  </div>
</div>
