= bootstrap_form_for(@device, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
  - if not defined?(login_edit_disable) or not login_edit_disable
    = f.text_field :login
    = f.password_field :password
    = f.password_field :password_confirmation
    
  = f.text_field :name
  = f.select :playlist_id, @playlists.map{ |p| ["#{p.name} (#{p.description})", p.id] }, {}, :id => "select-playlist"
  = select2js_for_id "select-playlist"
  = f.collection_check_boxes :device_group_ids, @device_groups, :id, :title, label: t('.member_of_a_device_groups')
  
  = f.submit :value => t(:save_button_text), :class => "btn btn-primary"
  - if not defined?(delete_disabled) or not delete_disabled
    = link_to t(:delete_this_device), @device, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => t(:are_you_sure) }
