- title "List devices"
  
%h1= yield(:title)
          
%table.table.table-striped.table-bordered.table-hover.table-responsive
  %tr
    %th Login
    %th Name
    %th Playlist
    %th Actions

  - @devices.each do |device|
    %tr
      %td= device.login
      %td= device.name
      %td= device.playlist != nil ? device.playlist.name : "<no playlist>"
      %td
        .btn-group
          = link_to 'Show', device, class: "btn btn-default"
          = link_to 'Edit', edit_device_path(device), class: "btn btn-default"
          = link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default"

%br

= link_to 'New Device', new_device_path, class: "btn btn-warning"

