- content_for :page_title, t(:devices_title)

.row
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover.table-responsive
      %tr
        %th= t(:name_th)
        %th= t(:group)
        - if many_companies?
          %th= t(:company)
        %th= t(:playlist_th)
        %th= t(:more_th)

      - @devices.map { |d| present(d) }.each do |device|
        %tr{:class => device.online? ? "success" : "danger"}
          %td= device.name
          %td= list_with_links(device.device_groups, 'title')
          - if many_companies?
            %td= device.company.nil? ? "" : device.company.title
          %td= link_to(device.playlist.name, device.playlist) if device.playlist
          %td
            = link_to content_tag(:span, "", :class => "glyphicon glyphicon-list"), device, :class => "btn btn-default"

    = link_to t(:add_new_device), new_device_path, class: "btn btn-primary"
