= page_title(@devices)

= render_filter_form do |f|
  = filter_form_search_query(f)
  = filter_form_select(f, :with_company_id) if current_user_has_many_companies?
  = filter_form_select(f, :with_device_group_id, label: Device::Group.model_name.human)

= render 'collection'

.pull-right
  = link_to icon_text('plus', t('views.devices.bind', default: 'Bind new device')), new_device_binds_path, class: 'btn btn-success'
- if policy(@devices)
  = link_to icon_text('plus', t('views.shared.new', default: 'Add new')), new_device_path, class: 'btn btn-default'
