= page_title(@devices)

= render_filter_form do |f|
  = filter_form_search_query(f)
  = filter_form_select(f, :with_company_id)
  = filter_form_select(f, :with_device_group_id, label: Device::Group.model_name.human)

= render 'collection'
