- title t(:device_info_title)

%h1.page-header= yield(:title)

.row
  .col-md-12
    %table.table.table-bordered.table-hover.table-responsive
      = row_info t(:name_th), @device.name
      = row_info t(:login_th), @device.login
      = row_info t(:playlist_th), @device.playlist ? link_to(@device.playlist.name, @device.playlist) : ""
      = row_info t('.groups'), list_with_links(@device.device_groups, 'title')
      = row_info t(:added_at_th), @device.created_at
      = row_info t(:updated_at_th), @device.updated_at
.row
  .col-md-12
    %h2= t(:status_header)
    - unless @device.device_status.nil?
      %table.table.table-bordered.table-hover.table-responsive
        - if @device.online?
          = row_info t(:connection_th), t(:online), 'success'
        - else
          = row_info t(:connection_th), t(:offline), 'danger'
        = row_info t(:last_status_update_th), localtime(@device.device_status.updated_at)
        = row_info t(:powered_on_at_th), localtime(@device.device_status.poweredon_at)
        = row_info t(:now_playing_th), @device.device_status.now_playing
        = row_info t(:logs_th), link_to(t(:full_log_text), device_device_log_messages_path(@device))
    - else
      %strong= t(:not_available)

.row
  .col-md-12
    = link_to t(:edit_device_title), edit_device_path(@device), class: "btn btn-primary"

- if policy(:ssh_tunnel).index?
  .row
    .col-md-12
      %h2 Admin area
      = link_to 'Request SSH tunnel', device_ssh_tunnels_path(@device)
    
          
          