<% content_for :page_title, t('views.devices.show_title', device: @device) %>

<div class="columns">
  <div class="column is-narrow">
    <%= link_to(:back, class: "button") do %>
      <span class="icon"><i class="fas fa-angle-left "></i></span>
      <span><%= t('views.back') %></span>
    <% end %>
  </div>

  <div class="column">
    <h1 class="title"><%= yield(:page_title) %></h1>
  </div>

  <div class="column is-narrow is">
    <% if policy(@device).edit? %>
      <%= link_to(edit_device_path(@device), class: "button") do %>
        <span class="icon"><i class="fas fa-edit "></i></span>
        <span><%= t('views.devices.edit_title') %></span>
      <% end %>
    <% end %>
  </div>
</div>


<% content_for(:js) do %>
  <%= javascript_packs_with_chunks_tag 'application', 'device' %>
<% end %>

<div class="section">
  <div id="root_component"></div>
</div>

<% if current_user.root? %>
  <div class="section">
    <h3 class="title is-3">Area 51</h3>

    <div class="field is-grouped">

      <div class="control">
        <%= link_to(device_software_updates_path(@device), class: "button is-warning") do %>
          <span>Software update</span>
        <% end %>
      </div>

      <div class="control">
        <%= link_to(delete_all_files_device_path, method: :delete, class: "button is-danger", data: { confirm: 'Really?' }) do %>
          <span>Delete all files from SD card</span>
        <% end %>
      </div>

      <div class="control">
        <%= link_to(reboot_device_path, method: :post, class: "button is-warning", data: { confirm: 'Really?' }) do %>
          <span>Reboot</span>
        <% end %>
      </div>

    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Command</th>
          <th>Sequence</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Dequeued</th>
          <th>Reenqueue retries</th>
        </tr>
      </thead>
      <tbody>
        <% @device.queued_messages.each do |qm| %>
          <tr>
            <td><%= qm['message_type'] %></td>
            <td><%= qm['sequence'] %></td>
            <td><%= qm['created_at'] %></td>
            <td><%= qm['updated_at'] %></td>
            <td><%= qm['dequeued'] %></td>
            <td><%= qm['reenqueue_retries'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>
