- title t(:device_info_title)

%h1.page-header= yield(:title)

.row
  .col-md-12
    %table.table.table-bordered.table-hover.table-responsive
      %tr
        %td 
          %strong= t(:name_th)
        %td= @device.name
      %tr
        %td
          %strong= t(:login_th)
        %td= @device.login
      %tr
        %td
          %strong= t(:playlist_th)
        %td= link_to(@device.playlist.name, @device.playlist) if @device.playlist
      %tr
        %td
          %strong= t(:added_at_th)
        %td= localtime @device.created_at
      %tr
        %td
          %strong= t(:updated_at_th)
        %td= localtime @device.updated_at

.row
  .col-md-12
    %h2= t(:status_header)
    - if @device.device_status != nil
      %table.table.table-bordered.table-hover.table-responsive
        %tr
          %td 
            %strong= t(:connection_th)
          - if device_online?(@device)
            %td.success= t(:online)
          - else
            %td.danger= t(:offline)
        %tr
          %td
            %strong= t(:last_status_update_th)
          %td= localtime @device.device_status.updated_at
        %tr
          %td
            %strong= t(:powered_on_at_th)
          %td= localtime @device.device_status.poweredon_at
        %tr
          %td
            %strong= t(:now_playing_th)
          %td= @device.device_status.now_playing
        %tr
          %td
            %strong= t(:logs_th)
          %td= link_to(t(:full_log_text), device_device_logs_path(@device)) if @device.device_log
    - else
      %strong= t(:not_available)

.row
  .col-md-12
    = link_to t(:edit_device_title), edit_device_path(@device), class: "btn btn-primary"

- if @enable_admin_area    
  .row
    .col-md-12
      %h2 Admin area
      = link_to 'Request SSH tunnel', device_ssh_tunnels_path(@device)
    
          
          