= page_title(@device)
- device = present(@device)

.row
  .col-sm-12
    = render partial: 'shared/show', locals: { object: device,
      edit_path: edit_device_path(device),
      destroy_path: device_path(device),
      attrs: [{attr: :login},
              {attr: :name},
              {attr: :company},
              {attr: :playlist},
              {attr: :device_groups },
              {attr: :time_zone},
              {attr: :wallpaper} ] }
.row
  .col-sm-12
    = render partial: 'shared/playlist_assignment_form', locals: { resource: Playlist::Assignment.new(playlist_id: device.playlist_id), url: device_playlist_assignment_path(device_id: device.id) }

- if device.device_status
  .row
    .col-md-12
      %h2= device.device_status.model_name.human
      - if device.device_status
        - status = present(device.device_status)
        = render partial: 'shared/show', locals: { object: status,
          attrs: [{attr: :online},
                  {attr: :poweredon_at},
                  {attr: :devicetime},
                  {attr: :now_playing},
                  {attr: :client_version},
                  {attr: :free_space} ] }

= link_to localized_heading(device, :device_log_messages), device_device_log_messages_path(device), class: 'btn btn-default'

- if policy(:ssh_tunnel).index?
  = link_to 'Request SSH tunnel', new_device_ssh_tunnel_path(device), class: 'btn btn-default'

- if current_user&.root?
  = link_to 'Software update', new_device_software_update_path(device), class: 'btn btn-default'
