- title "Device info"

%h1= yield(:title)

.row
  .col-md-12
    %table.table.table-bordered.table-hover.table-responsive
      %tr
        %td 
          %strong Name
        %td= @device.name
      %tr
        %td
          %strong Login
        %td= @device.login
      %tr
        %td
          %strong Playlist
        %td= link_to(@device.playlist.name, @device.playlist) if @device.playlist
      %tr
        %td
          %strong Added at
        %td= localtime @device.created_at
      %tr
        %td
          %strong Updated at
        %td= localtime @device.updated_at

.row
  .col-md-12
    %h2 Status
    - if @device.device_status != nil
      %table.table.table-bordered.table-hover.table-responsive
        %tr
          %td 
            %strong Connection
          - if device_online?(@device)
            %td.success online
          - else
            %td.danger offline
        %tr
          %td
            %strong Last status update
          %td= localtime @device.device_status.updated_at
        %tr
          %td
            %strong Powered on at
          %td= localtime @device.device_status.poweredon_at
        %tr
          %td
            %strong Now playing
          %td= @device.device_status.now_playing
        %tr
          %td
            %strong Logs
          %td= link_to("full", device_device_logs_path(@device)) if @device.device_log
    - else
      %strong Not available

.row
  .col-md-12
    = link_to 'Edit device', edit_device_path(@device), class: "btn btn-primary"
    
.row
  .col-md-12
    %h2 Admin area
    = link_to 'Request SSH tunnel', device_ssh_tunnels_path(@device)
    
          
          