- content_for :page_title, "Request SSH tunnel for #{@device.name}"

.row
  .col-md-12
    = bootstrap_form_for([@device, @ssh_tunnel], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
      = f.text_field :server
      = f.text_field :username
      = f.number_field :server_port
      = f.number_field :external_port
      = f.number_field :internal_port
      = f.number_field :open_duration
      = f.primary 'Make request'
