= simple_form_for resource do |f|
  = f.input :displayed_name
  = f.input :allow_notifications
  = f.association :companies, collection: policy_scope(Company.all), as: :check_boxes
  = f.button :submit
