<% content_for :page_title, t('views.users.show_title', user: @user) %>

<div class="columns">
  <div class="column is-narrow">
    <%= link_to(:back, class: "button") do %>
      <span class="icon"><i class="fas fa-angle-left "></i></span>
      <span><%= t('views.back') %></span>
    <% end %>
  </div>

  <div class="column">
    <h1 class="title"><%= yield(:page_title) %></h1>
  </div>
</div>


<div class="columns">
  <div class="column">
    <table class="table box">
      <tbody>

        <tr>
          <td><%= t('activerecord.attributes.user.email') %></td>
          <td><%= mail_to(@user.email) %></td>
        </tr>

        <tr>
          <td><%= t('activerecord.attributes.user.displayed_name') %></td>
          <td><%= @user.displayed_name %></td>
        </tr>

        <tr>
          <td><%= t('activerecord.attributes.user.root') %></td>
          <% if @user.root %>
            <td><span>&#9989;</span></td>
          <% else %>
            <td><span>&#10060;</span></td>
          <% end %>
        </tr>

        <tr>
          <td><%= t('activerecord.attributes.user.companies') %></td>
          <td>
            <% @user.companies.each do |c| %>
              <span class="icon"><i class="fas fa-users"></i></span>
              <%= link_to(c.to_s, company_path(c), target: "_blank") %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><%= t('activerecord.attributes.user.created_at') %></td>
          <td><%= @user.created_at.to_formatted_s(:rmpd_custom_date_time) %></td>
        </tr>

        <tr>
          <td><%= t('activerecord.attributes.user.confirmed_at') %></td>
          <td><%= @user.confirmed_at&.to_formatted_s(:rmpd_custom_date_time) %></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="column">
  </div>
</div>
