.panel.panel-default
  .panel-heading
    %h4= t('.change_your_password', :default => 'Change your password')
  .panel-body
    = bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form" }) do |f|
      = f.hidden_field :reset_password_token
      .form-group
        = f.password_field :password, autofocus: true, class: "form-control", :placeholder => 'New password'
      .form-group
        = f.password_field :password_confirmation, class: "form-control", :placeholder => 'Confirm new password'
      = f.submit t('.change_my_password', :default => 'Change my password'), class: "btn btn-primary"
= render "devise/shared/links"
