#filterrific_results
  = form_tag(defined?(destroy_multiple_path) ? destroy_multiple_path : nil, method: :delete)do
    %table.table.table-striped.table-hover.table-responsive.table-condensed
      %tr
        - if defined?(destroy_multiple_path)
          %th= ' '
        - columns.each do |column|
          %th= column[:heading] || localized_heading(collection, column[:attr])
        - if defined?(details_link)
          %th{class: 'text-right'}= t('views.shared.details', default: 'Details')

      - collection.each do |item|
        %tr{class: (defined?(row_class) ? row_class.call(item) : '')}
          - if defined?(destroy_multiple_path)
            %td= check_box_tag "#{collection.model_name.name.underscore}_ids[]", item.id, false
          - columns.each do |column|
            %td= attr_link_show(item, column[:attr], column[:link])
          - if defined?(details_link)
            - if policy_presenter(item).show?
              %td{class: 'text-right'}= attr_link_show(item, nil, details_link, link_class: 'btn btn-default btn-sm', link_text: icon_text('ellipsis-h'))
            - else
              %td{class: 'text-right'}= icon('ban')

    - if defined?(destroy_multiple_path)
      = submit_tag t('views.shared.delete_selected', default: 'Delete selected'), data: { confirm: t('views.shared.are_you_sure', default: 'Are you sure?') }, class: 'btn btn-danger'

    - if defined?(new_path) && policy_presenter(collection).new?
      .pull-right
        = link_to icon_text('plus', t('views.shared.new', default: 'Add new')), new_path, class: 'btn btn-success'

    = tag :br
    = render partial: 'shared/paginate', locals: { collection: collection }
