= bootstrap_form_for(Playlist::Assignment.new, url: url, method: :patch, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f|
  = f.select :playlist_id, options_for_select(policy_scope(Playlist.all).map{|p| ["#{p.name} (#{p.description})", p.id] }, selected), {include_blank: t('.none')}, id: 'select-playlist'
  = f.submit value: "Subm", class: 'btn btn-primary'
