= page_title(@company)
- company = present(@company)

= render partial: 'shared/show', locals: { object: company,
  edit_path: edit_company_path(company),
  destroy_path: company_path(company),
  attrs: [{attr: :title},
          {attr: :users},
          {attr: :devices} ] }

- if policy(company).leave?
  = link_to icon_text('sign-out', t('views.companies.leave', default: 'Leave this company')), leave_company_path, method: :post, class: 'btn btn-warning', data: { confirm: t('views.shared.are_you_sure', default: 'Are you sure?') }

%h4= company.invites.model_name.human(count: 2)
= render partial: 'companies/invites/collection', locals: { collection: company.invites }
= render partial: 'companies/invites/form', locals: { resource: company.invites.build, url: company_invites_path(company) }
