- title "List media items"
  
%h1= yield(:title)

.row
  .col-md-12      
    %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
      %tr
        %th Filename
        %th Description
        %th Playlists
        %th More
    
      - @media_items.each do |media_item|
        %tr
          %td
            %span.glyphicon.glyphicon-play
            = link_to media_item.file_identifier, media_item.file_url
          %td= media_item.description
          %td= media_item.playlists.to_a
          %td
            = link_to content_tag(:span, "", :class => "glyphicon glyphicon-list"), media_item, :class => "btn btn-default"
    
    = link_to 'Upload new file', new_media_item_path, class: "btn btn-primary"
