- content_for :page_title, t(:media_items_title)

%p
  = link_to icon_link_to('glyphicon-cloud-upload', t(:upload_new_files_text)), new_media_item_path, class: "btn btn-success"

%p
  = form_for_filterrific @filterrific, class: 'form-horizontal' do |f|
    .row
      .col-sm-6
        = f.text_field :search_query, :class => 'filterrific-periodically-observed form-control', :placeholder => t(:search)
      - if many_companies?
        .col-sm-6
          = f.select :with_company_id, @filterrific.select_options[:with_company_id], { include_blank: t(:all_companies) }, :id => "select-company"
          = select2js_for_id "select-company"

  = render_filterrific_spinner
  = link_to t(:reset_filter), reset_filterrific_url

= render partial: 'list', locals: {media_items: @media_items}
