- title "Media item info"

%h1= yield(:title)

.row
  .col-md-12
    %table.table.table-bordered.table-hover.table-responsive
      %tr
        %td 
          %strong Filename
        %td= @media_item.file_identifier
      %tr
        %td
          %strong File size
        %td= number_to_human_size(@media_item.file.size, precision: 2)
      %tr
        %td 
          %strong Description
        %td= @media_item.description
      %tr
        %td
          %strong Playlists
        %td
          %ul
            - @media_item.playlists.to_a do |p|
              %li= link_to p.name, p.name
      %tr
        %td
          %strong Added at
        %td= localtime @media_item.created_at
      %tr
        %td
          %strong Updated at
        %td= localtime @media_item.updated_at        

.row
  .col-md-12
    %h2 Statistics
    
.row
  .col-md-12
    = link_to 'Delete this item', @media_item, :method => :delete, :class => "btn btn-danger pull-right"
    
            
  