- title t(:media_item_info_title)

%h1= yield(:title)

.row
  .col-md-12
    %table.table.table-bordered.table-hover.table-responsive
      %tr
        %td 
          %strong= t(:filename_th)
        %td= @media_item.file_identifier
      %tr
        %td
          %strong= t(:size_th)
        %td= number_to_human_size(@media_item.file.size, precision: 2)
      %tr
        %td 
          %strong= t(:description_th)
        %td= @media_item.description
      %tr
        %td
          %strong= t(:playlists_th)
        %td
          %ul.list-unstyled
            - @media_item.playlists.each do |p|
              %li= link_to p.name, p
      %tr
        %td
          %strong= t(:uploaded_at_th)
        %td= localtime @media_item.created_at
      %tr
        %td
          %strong= t(:updated_at_th)
        %td= localtime @media_item.updated_at        

.row
  .col-md-12
    %h2= t(:statistics_title)
    
.row
  .col-md-12
    = link_to t(:delete_media_item_text), @media_item, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => t(:are_you_sure) }
    
            
  