= simple_form_for resource do |f|
  = f.input :login
  = render partial: 'shared/select_company_form', locals: { f: f }
  = f.input :time_zone, input_html: { id: 'select-timezone' }
  = f.input :name
  - device_groups = policy_scope(Device::Group.order(title: :asc))
  = f.input :device_group_ids, collection: device_groups, as: :check_boxes unless device_groups.empty?
  = f.button :submit

= select2js_for_id('select-timezone')
