<% content_for :page_title, t('views.device_groups.index_title') %>

<div class="columns">
  <div class="column">
    <h1 class="title"><%= yield(:page_title) %></h1>
  </div>
  <div class="column">
    <% if policy(Device::Group.new).new? %>
      <%= link_to(new_device_group_path, class: "button is-primary is-outlined is-pulled-right") do %>
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span><%= t('views.device_groups.new_title') %></span>
      <% end %>
    <% end %>
  </div>
</div>

<div class="section">

  <% @device_groups.each do |g| %>

    <div class="media">
      <div class="media-left">
        <span class="icon"><i class="fas fa-object-ungroup fa-2x"></i></span>
      </div>

      <div class="media-content">
        <div class="content">

          <nav class="level">
            <div class="level-left">
              <span class="level-item">
                <h5 class="subtitle is-5"><%= g.to_s %></h5>
              </span>

              <% g.devices.each do |d| %>
                <span class="level-item">
                  <span class="icon"><i class="fas fa-microchip"></i></span>
                  <%= link_to(d.to_s, device_path(d), target: "_blank") %>
                </span>
              <% end %>

            </div>
          </nav>
        </div>
      </div>

      <div class="media-right">
        <nav class="level">
          <span class="level-item">

            <div class="field is-grouped">
              <p class="control">
                <%= link_to(device_group_path(g), method: :delete, class: "button is-danger is-outlined", data: { confirm: t('views.device_groups.delete_confirm') }) do %>
                  <span class="icon"><i class="fas fa-trash-alt"></i></span>
                <% end %>
              </p>

              <p class="control">
                <%= link_to(edit_device_group_path(g), class: "button is-primary is-outlined") do %>
                  <span class="icon"><i class="fas fa-bars"></i></span>
                <% end %>
              </p>

            </div>

          </span>
        </nav>
      </div>
    </div>

  <% end %>

</div>
