%div{style: 'display: none'}
  = text_field_tag 'current-advertising-media_item'
  = text_field_tag 'current-advertising-media_item_id'
  = text_field_tag 'current-advertising-begin_time'
  = text_field_tag 'current-advertising-end_time'
  = text_field_tag 'current-advertising-begin_date'
  = text_field_tag 'current-advertising-end_date'
  = text_field_tag 'current-advertising-playbacks_per_day'

  = f.add_nested_fields_link :playlist_items_advertising, '', id: 'add-nested-advertising'

.row
  .col-sm-9
    - collection = policy_scope(MediaItem.includes(:company).not_processing.advertising)
    = render partial: 'shared/multiselect', locals: { collection: options_from_collection_for_select(collection, :id, :to_s),
                                                      textbox_id: 'filter-mediaitems-advertising-textbox',
                                                      selectbox_id: 'mediaitems-advertising-selectbox',
                                                      size: [collection.count, 15].min }
  .col-sm-3
    = label_for_input(f, :playlist_items_advertising, :begin_time)
    = text_field_tag 'mediaitems-advertising-begin_time-textbox', '', class: 'form-control datetime-picker-time'

    = label_for_input(f, :playlist_items_advertising, :end_time)
    = text_field_tag 'mediaitems-advertising-end_time-textbox', '', class: 'form-control datetime-picker-time'

    .well
      = label_for_input(f, :playlist_items_advertising, :playbacks_per_day)
      = number_field_tag 'mediaitems-advertising-playbacks_per_day-textbox', 1, min: 1, step: 1, class: 'form-control'
      = label_for_input(f, :playlist_items_advertising, :playbacks_per_hour)
      = number_field_tag 'mediaitems-advertising-playbacks_per_hour-textbox', 1, min: 1, step: 1, class: 'form-control'

    = label_for_input(f, :playlist_items_advertising, :begin_date)
    = text_field_tag 'mediaitems-advertising-begin_date-textbox', '', class: 'form-control datetime-picker-date'

    = label_for_input(f, :playlist_items_advertising, :end_date)
    = text_field_tag 'mediaitems-advertising-end_date-textbox', '', class: 'form-control datetime-picker-date'

%span.btn.btn-success{ id: 'mediaitems-advertising-add-multiple-button', role: 'button' }= icon_text('plus', advertising_title)
