= simple_form_for resource do |f|
  = f.input :name
  = f.input :description, as: :string
  = render partial: 'shared/select_company_form', locals: { f: f }

  .panel.panel-success
    .panel-heading
      .row
        .col-sm-6
          %h4= background_title
          = f.input :shuffle, input_html: { id: 'playlists-shuffle-checkbox' }
        .col-sm-6
          .pull-right= collapse_button('#background-items')
    #background-items.collapse.in
      .panel-body
        %table.table.table-condensed#background-items-table
          %tr
            %th.numeric= label_for_input(f, :playlist_items_background, :position)
            %th= label_for_input(f, :playlist_items_background, :media_item)
            %th.datetime= label_for_input(f, :playlist_items_background, :begin_time)
            %th.datetime= label_for_input(f, :playlist_items_background, :end_time)
            %th.datetime= label_for_input(f, :playlist_items_background, :begin_date)
            %th.datetime= label_for_input(f, :playlist_items_background, :end_date)
            %th.controls= ''
          = f.nested_fields_for :playlist_items_background, wrapper_tag: :tr do |ff|
            %td= ff.input :position, as: :integer, label: false, input_html: { class: 'playlist_item_background-position' }
            %td= input_for_media_item(ff)
            %td= input_for_time(ff, :begin_time)
            %td= input_for_time(ff, :end_time)
            %td= input_for_date(ff, :begin_date)
            %td= input_for_date(ff, :end_date)
            %td.pull-right= ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'
      .panel-footer
        = render partial: 'add_background', locals: { f: f }

  .panel.panel-info
    .panel-heading
      .row
        .col-sm-6
          %h4= advertising_title
        .col-sm-6
          .pull-right= collapse_button('#advertising-items')
    #advertising-items.collapse.in
      .panel-body
        %table.table.table-condensed#advertising-items-table
          %tr
            %th= label_for_input(f, :playlist_items_advertising, :media_item)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :begin_time)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :end_time)
            %th.numeric= label_for_input(f, :playlist_items_advertising, :playbacks_per_day)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :begin_date)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :end_date)
            %th.controls= ''
          = f.nested_fields_for :playlist_items_advertising, wrapper_tag: :tr do |ff|
            %td= input_for_media_item(ff)
            %td= input_for_time(ff, :begin_time)
            %td= input_for_time(ff, :end_time)
            %td= ff.input :playbacks_per_day, as: :integer, label: false
            %td= input_for_date(ff, :begin_date)
            %td= input_for_date(ff, :end_date)
            %td.pull-right= ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'
      .panel-footer
        = render partial: 'add_advertising', locals: { f: f }

  = f.button :submit
