= bootstrap_form_for @playlist, :html => {:multipart => true} do |f|
  = f.text_field :name
  = f.text_field :description
  = f.label t(:media_items_title)
  .input-group
    %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
      %tr
        %th= t(:add_th)
        %th= t(:position_th)
        %th= t(:filename_th)
        %th= t(:description_th)
      - @media_items.each do |item|
        %tr
          - deployment = @playlist.media_deployments.find {|d| d.media_item == item}
          %td= check_box_tag "media_items_ids[]", item.id, @playlist.media_items.include?(item)
          %td= number_field_tag "media_item_position#{item.id}", (deployment == nil ? 0 : deployment.playlist_position)
          %td= label_tag "media_item#{item.id}", item.file_identifier
          %td= item.description
    
  = f.submit :value => t(:save_button_text), :class => "btn btn-primary"
