= simple_form_for resource do |f|
  = f.input :name
  = f.input :description, as: :string
  = render partial: 'shared/select_company_form', locals: { f: f }

  .panel.panel-success
    .panel-heading
      .row
        .col-sm-10
          %h4= background_title
          = f.input :shuffle, input_html: { id: 'playlists-shuffle-checkbox' }
        .col-sm-2
          .pull-right= collapse_button('#background-items')
    #background-items.collapse.in
      .panel-body
        %table.table.table-condensed#background-items-table
          %tr
            %th.numeric= label_for_input(f, :playlist_items_background, :position)
            %th= label_for_input(f, :playlist_items_background, :media_item)
            %th.datetime= label_for_input(f, :playlist_items_background, :begin_time)
            %th.datetime= label_for_input(f, :playlist_items_background, :end_time)
            %th.datetime= label_for_input(f, :playlist_items_background, :begin_date)
            %th.datetime= label_for_input(f, :playlist_items_background, :end_date)
            %th.numeric= label_for_input(f, :playlist_items_background, :show_duration)
            %th.controls= ''
          = f.nested_fields_for :playlist_items_background, wrapper_tag: :tr do |ff|
            %td= ff.input :position, as: :integer, label: false, input_html: { class: 'playlist_item_background-position' }
            %td= input_for_media_item(ff)
            %td= input_for_time(ff, :begin_time)
            %td= input_for_time(ff, :end_time)
            %td= input_for_date(ff, :begin_date)
            %td= input_for_date(ff, :end_date)
            %td= ff.input :show_duration, as: :integer, label: false, input_html: { min: 1, step: 1 }#, readonly: !ff.object.image?
            %td.pull-right= ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'
      .panel-footer
        = render partial: 'add_background', locals: { f: f, collection: media_items_background }

  .panel.panel-info
    .panel-heading
      .row
        .col-sm-6
          %h4= advertising_title
        .col-sm-6
          .pull-right= collapse_button('#advertising-items')
    #advertising-items.collapse.in
      .panel-body
        %table.table.table-condensed#advertising-items-table
          %tr
            %th= label_for_input(f, :playlist_items_advertising, :media_item)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :begin_time)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :end_time)
            %th.numeric= label_for_input(f, :playlist_items_advertising, :playbacks_per_day)
            %th.numeric= label_for_input(f, :playlist_items_advertising, :playbacks_per_hour)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :begin_date)
            %th.datetime= label_for_input(f, :playlist_items_advertising, :end_date)
            %th.numeric= label_for_input(f, :playlist_items_advertising, :show_duration)
            %th.controls= ''
          = f.nested_fields_for :playlist_items_advertising, wrapper_tag: :tr do |ff|
            %td= input_for_media_item(ff)
            %td= input_for_time(ff, :begin_time)
            %td= input_for_time(ff, :end_time)
            %td= ff.input :playbacks_per_day, as: :integer, label: false, input_html: { min: 1, step: 1}
            %td= ff.input :playbacks_per_hour, as: :integer, label: false, input_html: { min: 1, step: 1}
            %td= input_for_date(ff, :begin_date)
            %td= input_for_date(ff, :end_date)
            %td= ff.input :show_duration, as: :integer, label: false, input_html: { min: 1, step: 1 }#, readonly: !ff.object.image?
            %td.pull-right= ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'
      .panel-footer
        = render partial: 'add_advertising', locals: { f: f, collection: media_items_advertising }

  = f.button :submit

.modal.fade{role: 'dialog', tabindex: '-1', id: 'midnight-rollover-modal'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body#midnight-rollover-modal-body= I18n.t('views.playlists.midnight_rollover_warning', default: 'Begin time > end time. 2 records will be created')
      .modal-footer
        %label
          = check_box_tag 'dont_show_anymore', true
          = I18n.t('views.shared.dont_show_anymore', default: 'Do not show anymore')
        %button.btn.btn-primary{'data-dismiss' => 'modal', 'type' => 'button'} OK
