= simple_form_for resource do |f|
  = f.input :name
  = f.input :description
  = render partial: 'shared/select_company_form', locals: { f: f }
  = f.input :shuffle, input_html: { id: 'playlists-shuffle-checkbox' }

  .row
    = f.nested_fields_for :playlist_items_background do |ff|
      .col-sm-1
        = ff.input :position, as: :integer, label: false
      .col-sm-6
        = ff.association :media_item, collection: policy_scope(MediaItem.background), include_blank: false, input_html: { class: 'select-media-item' }, label: false
      .col-sm-1
        = ff.input :begin_time, as: :string, label: false, input_html: { class: 'datetime-picker-time', value: ff.object.begin_time&.strftime('%H:%M:%S') }
      .col-sm-1
        = ff.input :end_time, as: :string, label: false, input_html: { class: 'datetime-picker-time', value: ff.object.end_time&.strftime('%H:%M:%S') }
      .col-sm-1
        = ff.input :begin_date, as: :string, label: false, input_html: { class: 'datetime-picker-date', value: ff.object.begin_date&.strftime('%d.%m.%Y') }
      .col-sm-1
        = ff.input :end_date, as: :string, label: false, input_html: { class: 'datetime-picker-date', value: ff.object.end_date&.strftime('%d.%m.%Y') }
      .col-sm-1
        .pull-right
          = ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'

  .row
    = f.nested_fields_for :playlist_items_advertising do |ff|
      .col-sm-6
        = ff.association :media_item, collection: policy_scope(MediaItem.advertising), include_blank: false, input_html: { class: 'select-media-item' }
      .col-sm-1
        .pull-right
          = ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'

  = f.add_nested_fields_link :playlist_items_advertising, 'Add advertising', class: 'btn btn-success', role: 'button'
  = f.add_nested_fields_link :playlist_items_background, 'Add background', class: 'btn btn-success', role: 'button'

  = tag :br
  = tag :br

  = f.button :submit
