= simple_form_for resource do |f|
  = f.input :name
  = f.input :description, as: :string
  = render partial: 'shared/select_company_form', locals: { f: f }

  .panel.panel-success
    .panel-heading
      %h4= MediaItem.human_enum_name(:background)
      = f.input :shuffle, input_html: { id: 'playlists-shuffle-checkbox' }
    .panel-body
      %table.table.table-condensed
        %tr
          %th= label_tag(f.object.playlist_items_background.human_attribute_name(:position))
          %th= label_tag(f.object.playlist_items_background.human_attribute_name(:media_item))
          %th= label_tag(f.object.playlist_items_background.human_attribute_name(:begin_time))
          %th= label_tag(f.object.playlist_items_background.human_attribute_name(:end_time))
          %th= label_tag(f.object.playlist_items_background.human_attribute_name(:begin_date))
          %th= label_tag(f.object.playlist_items_background.human_attribute_name(:end_date))
          %th= ''
        = f.nested_fields_for :playlist_items_background, wrapper_tag: :tr do |ff|
          %td= ff.input :position, as: :integer, label: false
          %td
            = ff.input :media_item, as: :string, label: false, disabled: true
            = ff.input :media_item_id, as: :hidden
          %td= ff.input :begin_time, as: :string, label: false, input_html: { class: 'datetime-picker-time', value: ff.object.begin_time&.to_formatted_s(:rmpd_custom) }
          %td= ff.input :end_time, as: :string, label: false, input_html: { class: 'datetime-picker-time', value: ff.object.end_time&.to_formatted_s(:rmpd_custom) }
          %td= ff.input :begin_date, as: :string, label: false, input_html: { class: 'datetime-picker-date', value: ff.object.begin_date&.to_formatted_s(:rmpd_custom_date) }
          %td= ff.input :end_date, as: :string, label: false, input_html: { class: 'datetime-picker-date', value: ff.object.end_date&.to_formatted_s(:rmpd_custom_date) }
          %td.pull-right= ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'
    .panel-footer
      %div{style: 'display: none'}
        = text_field_tag 'current-background-mediaitem', '', id: 'current-background-mediaitem'
        = text_field_tag 'current-background-mediaitem_id', '', id: 'current-background-mediaitem_id'
        = f.add_nested_fields_link :playlist_items_background, 'hidden-add', id: 'add-nested-background'
      = render partial: 'select_multiple', locals: { collection: options_from_collection_for_select(policy_scope(MediaItem.includes(:company).not_processing.background), :id, :to_s),
                                                     textbox_id: 'filter-mediaitems-background-textbox',
                                                     selectbox_id: 'mediaitems-background-selectbox' ,
                                                     button_text: icon_text('plus', MediaItem.human_enum_name(:background)),
                                                     button_id: 'mediaitems-background-add-multiple-button' }

  .panel.panel-info
    .panel-heading
      %h4= MediaItem.human_enum_name(:advertising)
    .panel-body
      %table.table.table-condensed
        %tr
          %th= label_tag(f.object.playlist_items_advertising.human_attribute_name(:media_item))
          %th= label_tag(f.object.playlist_items_advertising.human_attribute_name(:begin_time))
          %th= label_tag(f.object.playlist_items_advertising.human_attribute_name(:end_time))
          %th= label_tag(f.object.playlist_items_advertising.human_attribute_name(:playbacks_per_day))
          %th= label_tag(f.object.playlist_items_advertising.human_attribute_name(:begin_date))
          %th= label_tag(f.object.playlist_items_advertising.human_attribute_name(:end_date))
          %th= ''
        = f.nested_fields_for :playlist_items_advertising, wrapper_tag: :tr do |ff|
          %td
            = ff.input :media_item, as: :string, label: false, disabled: true
            = ff.input :media_item_id, as: :hidden
          %td= ff.input :begin_time, as: :string, label: false, input_html: { class: 'datetime-picker-time', value: ff.object.begin_time&.to_formatted_s(:rmpd_custom) }
          %td= ff.input :end_time, as: :string, label: false, input_html: { class: 'datetime-picker-time', value: ff.object.end_time&.to_formatted_s(:rmpd_custom) }
          %td= ff.input :playbacks_per_day, as: :integer, label: false
          %td= ff.input :begin_date, as: :string, label: false, input_html: { class: 'datetime-picker-date', value: ff.object.begin_date&.to_formatted_s(:rmpd_custom_date) }
          %td= ff.input :end_date, as: :string, label: false, input_html: { class: 'datetime-picker-date', value: ff.object.end_date&.to_formatted_s(:rmpd_custom_date) }
          %td.pull-right= ff.remove_nested_fields_link icon('times'), class: 'btn btn-danger btn-sm', role: 'button'
    .panel-footer
      %div{style: 'display: none'}
        = text_field_tag 'current-advertising-mediaitem', '', id: 'current-advertising-mediaitem'
        = text_field_tag 'current-advertising-mediaitem_id', '', id: 'current-advertising-mediaitem_id'
        = f.add_nested_fields_link :playlist_items_advertising, 'hidden-add', id: 'add-nested-advertising'
      = render partial: 'select_multiple', locals: { collection: options_from_collection_for_select(policy_scope(MediaItem.includes(:company).not_processing.advertising), :id, :to_s),
                                                     textbox_id: 'filter-mediaitems-advertising-textbox',
                                                     selectbox_id: 'mediaitems-advertising-selectbox' ,
                                                     button_text: icon_text('plus', MediaItem.human_enum_name(:advertising)),
                                                     button_id: 'mediaitems-advertising-add-multiple-button' }


  = f.button :submit
