= simple_form_for resource do |f|
  = f.input :name
  = f.input :description
  = render partial: 'shared/select_company_form', locals: { f: f }
  = f.input :shuffle, input_html: { id: 'playlists-shuffle-checkbox' }

  = tag :br

  .row
    .col-sm-12
      = render partial: 'media_items_background_list_form', locals: { playlist: resource, media_items: policy_scope(MediaItem.includes(:company)).background }
    .col-sm-12
      = render partial: 'media_items_advertising_list_form', locals: { playlist: resource, media_items: policy_scope(MediaItem.includes(:company)).advertising }

  = f.button :submit
