= form_for @playlist, :html => {:multipart => true, :role => "form"} do |f|
  - if @playlist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@playlist.errors.count, "error")} prohibited this playlist from being saved:"
      %ul
        - @playlist.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    .field
      = f.label :name
      = f.text_field :name, :class => "form-control"
    .field
      = f.label :description
      = f.text_field :description, :class => "form-control"
    .field
      = f.label "Media items"
      
    .input-group
      %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
        %tr
          %th Add
          %th Position
          %th Name
          %th Description
        - @media_items.each do |item|
          %tr
            - deployment = @playlist.media_deployments.find {|d| d.media_item == item}
            %td= check_box_tag "media_items_ids[]", item.id, @playlist.media_items.include?(item)
            %td= number_field_tag "media_item_position#{item.id}", (deployment == nil ? 0 : deployment.playlist_position)
            %td= label_tag "media_item#{item.id}", item.file_identifier
            %td= item.description
    
      
    .actions
      = f.submit 'Save', :class => "btn btn-primary"
