#media-items-advertising
  - prefix = 'media_items_advertising_'
  .panel.panel-warning
    .panel-heading
      %h4 Advertising content
    .panel-body
      .row
        .col-sm-12
          %input.search.form-control{'placeholder' => t(:search)}
          = check_box_tag :select_all, "1", false, id: 'select-all-advertising-checkbox'
          = label_tag t(:select_all)
          %button.sort.btn.btn-default{'data-sort' => 'filename', 'type' => 'button'}= t(:sort_by_filename)
          %button.sort.btn.btn-default{'data-sort' => 'description', 'type' => 'button'}= t(:sort_by_description)
          - if many_companies?
            %button.sort.btn.btn-default{'data-sort' => 'company', 'type' => 'button'}= t(:sort_by_company)
      .row
        .col-md-12
          %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
            %tr
              %th= t(:add_th)
              %th= 'Begin time'
              %th= 'End time'
              %th= 'Playbacks per day'
              %th= 'Begin date'
              %th= 'End date'
              %th= t(:filename_th)
              %th= t(:description_th)
              - if many_companies?
                %th= t(:company)
            %tbody.list
              - media_items.each do |item|
                %tr
                  %td= check_box_tag "#{prefix}ids[]", item.id, has_media_item?(playlist, item), class: 'form-control media-item-advertising-checkbox'
                  %td= select_time media_item_begin_time(playlist, item), prefix: "#{prefix}begin_times[#{item.id}]"
                  %td= select_time media_item_end_time(playlist, item), prefix: "#{prefix}end_times[#{item.id}]"
                  %td= number_field_tag "#{prefix}playbacks_per_days[#{item.id}]", media_items_advertising_playbacks_per_days(playlist, item), min: 0, class: 'form-control'
                  %td= select_date media_item_begin_date(playlist, item), prefix: "#{prefix}begin_dates[#{item.id}]"
                  %td= select_date media_item_end_date(playlist, item), prefix: "#{prefix}end_dates[#{item.id}]"
                  %td.filename= label_tag "media_item#{item.id}", item.file_identifier
                  %td.description= item.description
                  - if many_companies?
                    %td.company= item.company.try(:title)
