= text_field_tag textbox_id, '', id: textbox_id, class: 'form-control'
= select_tag selectbox_id, collection, multiple: true, size: 12, class: 'form-control'

:javascript
  $(document).ready(function() {
    return $("##{selectbox_id}").filterByText($("##{textbox_id}"), true);
  });
  $(document).on('page:load', function() {
    return $("##{selectbox_id}").filterByText($("##{textbox_id}"), true);
  });
