- title t(:playlists_title)
  
%h1.page-header= yield(:title)

%p
  = link_to icon_link_to('glyphicon-plus', t(:create_playlist_text)), new_playlist_path, class: "btn btn-success"
  
%p  
  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
        %tr
          %th= t(:playlist_name_th)
          %th= t(:description_th)
          - if current_user.companies.size > 1
            %th= t(:company)
          %th= t(:media_items_title) + " / " + t(:size_th)
          %th= t(:devices_title)
          %th= t(:more_th)
      
        - @playlists.each do |playlist|
          %tr
            %td= playlist.name
            %td= playlist.description
            - if current_user.companies.size > 1
              %td= playlist.company.nil? ? "" : playlist.company.title
            %td= playlist.media_items.to_a.count.to_s + " / " + number_to_human_size((playlist.media_items.inject(0) {|sum, i| sum += i.file.size.to_i}), precision: 2)
            %td= policy_scope(playlist.devices).count
            %td= link_to content_tag(:span, "", :class => "glyphicon glyphicon-list"), playlist, :class => "btn btn-default"
    
    