- title t(:playlist_info_title)

%h1.page-header= yield(:title)

.row
  .col-md-12
    %table.table.table-bordered.table-hover.table-responsive
      %tr
        %td 
          %strong= t(:playlist_name_th)
        %td= @playlist.name
      %tr
        %td 
          %strong= t(:description_th)
        %td= @playlist.description
      %tr
        %td
          %strong= t(:number_of_items_th)
        %td= @playlist.media_items.count
      %tr
        %td
          %strong= t(:total_size_th)
        %td= number_to_human_size((@playlist.media_items.inject(0) {|sum, i| sum += i.file.size.to_i}), precision: 2)
      %tr
        %td
          %strong= t(:created_at_th)
        %td= localtime @playlist.created_at
      %tr
        %td
          %strong= t(:updated_at_th)
        %td= localtime @playlist.updated_at
      %tr
        %td
          %strong= t(:download_playlist_file_th)
        %td
          %span.glyphicon.glyphicon-th-list
            = link_to @playlist.file_identifier, @playlist.file_url
    
.row
  .col-md-12
    %h2= t(:media_items_title)
    %table.table.table-striped.table-bordered.table-hover.table-responsive.table-condensed
      %tr
        %th= t(:position_th)
        %th= t(:filename_th)
        %th= t(:description_th)
        %th= t(:size_th)
    
      - @media_items_in_playlist.each do |media_item|
        %tr
          %td= (media_item.media_deployments.find {|d| d.playlist == @playlist }).playlist_position
          %td
            %span.glyphicon.glyphicon-play
            = link_to media_item.file_identifier, media_item.file_url
          %td= media_item.description
          %td= number_to_human_size(media_item.file.size, precision: 2)
          
.row
  .col-md-12
    = link_to t(:edit_playlist_title), edit_playlist_path(@playlist), :class => "btn btn-primary"
    = link_to t(:delete_playlist_text), @playlist, :method => :delete, :class => "btn btn-danger pull-right", :data => { :confirm => 'Are you sure?' }
            
  