= page_title(@ssh_tunnel, template: 'new')

= simple_form_for([@device, @ssh_tunnel]) do |f|
  = f.input :server
  = f.input :username
  = f.input :server_port, as: :integer
  = f.input :external_port, as: :integer
  = f.input :internal_port, as: :integer
  = f.input :open_duration, as: :integer
  = f.button :submit
