= tag :br
.footer{:style => "clear:both;margin-top:10px"}
  = tag :hr
  = link_to image_tag('fb-logo.png'), 'https://www.facebook.com/groups/1563904673876402', size: '16x16', :target => "_blank"
  = link_to image_tag('vk-logo.png'), 'https://vk.com/slonds', size: '16x16', :target => "_blank"
  = link_to t(:help), "http://slon-ds.ru", :target => "_blank"
  |
  = link_to t(:contact_us), "http://slon-ds.ru", :target => "_blank"
  |
  = link_to t(:privacy_policy), "http://slon-ds.ru", :target => "_blank"
  = tag :br
  = tag :br