= tag :br
.footer{:style => "clear:both;margin-top:10px"}
  = tag :hr
  = link_to image_tag('fb-logo.png'), 'https://www.facebook.com/groups/1563904673876402', size: '16x16', :target => "_blank"
  = link_to image_tag('vk-logo.png'), 'https://vk.com/slonds', size: '16x16', :target => "_blank"
  = link_to t('views.shared.help', default: 'Help'), "http://slon-ds.ru", :target => "_blank"
  |
  = link_to t('views.shared.contact_us', default: 'Contact Us'), "http://slon-ds.ru", :target => "_blank"
  |
  = link_to t('views.shared.privacy_policy', default: 'Privacy policy'), "http://slon-ds.ru", :target => "_blank"
  = tag :br
  = tag :br
