%ul.nav.navbar-nav
  - menu = MainMenu.new(user: current_user)

  - if menu.media_items
    %li{class: active_class_for('media_items')}= link_to icon_text('play', MediaItem.model_name.human(count: 2)), media_items_path

  - if menu.playlists
    %li{class: active_class_for('playlists')}= link_to icon_text('list', Playlist.model_name.human(count: 2)), playlists_path

  - if menu.devices
    %li{class: active_class_for('devices')}= link_to icon_text('hdd-o', Device.model_name.human(count: 2)), devices_path

  - if menu.device_groups
    %li{class: active_class_for('device_groups')}= link_to icon_text('tags', Device::Group.model_name.human(count: 2)), device_groups_path

  - if menu.companies
    %li{class: active_class_for('companies')}= link_to icon_text('building', Company.model_name.human(count: 2)), companies_path

  - if menu.users
    %li{class: active_class_for('users')}= link_to icon_text('users', User.model_name.human(count: 2)), users_path

  - if show_file_processing_navbar?
    %li.dropdown
      %a{'type' => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', 'id' => 'media_items_dropdown'}=icon('cogs')
      %ul.dropdown-menu{'aria-labelledby' => 'media_items_dropdown'}
        %li= link_to(file_processing_navbar_text, media_items_path('filterrific[with_file_processing]' => true))
