<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_pack_tag 'logo.png', alt: 'logo' %>
      <span>&nbsp;</span>
      <span><%= app_title %></span>
    <% end %>

    <span class="navbar-burger burger" data-target="nav-menu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>

  <div id='nav-menu' class="navbar-menu">

    <div class="navbar-start">
      <% active_class_for = ->(ctrl) { params[:controller] == ctrl ? ' is-active' : '' } %>
      <% if policy(:media_item).index? %>
        <%= link_to t('views.media_items.index_title'), media_items_path, class: "navbar-item" + active_class_for.call('media_items') %>
      <% end %>
      <% if policy(:playlist).index? %>
        <%= link_to t('views.playlists.index_title'), playlists_path, class: "navbar-item" + active_class_for.call('playlists') %>
      <% end %>
      <% if policy(:device).index? %>
        <%= link_to t('views.devices.index_title'), devices_path, class: "navbar-item" + active_class_for.call('devices') %>
      <% end %>
      <% if policy([:device, :group]).index? %>
        <%= link_to t('views.device_groups.index_title'), device_groups_path, class: "navbar-item" + active_class_for.call('device_groups') %>
      <% end %>
      <% if policy(:company).index? %>
        <%= link_to t('views.companies.index_title'), companies_path, class: "navbar-item" + active_class_for.call('companies') %>
      <% end %>
      <% if policy(:user).index? %>
        <%= link_to t('views.users.index_title'), users_path, class: "navbar-item" + active_class_for.call('users') %>
      <% end %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="buttons">
          <% if user_signed_in? %>

            <%= link_to(edit_user_registration_path, class: "button is-primary is-outlined") do %>
              <span class="icon"><%= image_tag(current_user.gravatar_url) %></span>
              <span><%= current_user.to_s %></span>
            <% end %>

            <%= link_to(destroy_user_session_path, method: :delete, class: "button is-danger is-outlined") do %>
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <% end %>

          <% else %>

            <%= link_to(new_user_registration_path, class: "button is-info is-outlined") do %>
              <span class="icon"><i class="fas fa-user-plus"></i></span>
              <span><%= t('views.sign_up', default: 'Sign up') %></span>
            <% end %>
            <%= link_to(new_user_session_path, class: "button is-success is-outlined") do %>
              <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
              <span><%= t('views.login', default: 'Login') %></span>
            <% end %>

          <% end %>
        </div>

      </div>
    </div>

  </div>


</nav>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }
});
</script>
