!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= "SLON-DS Cloud" + (content_for?(:title) ? " | " + yield(:title) : "") 
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = yield(:head)
  %body
    #main{:role => "main"}
      %nav.navbar.navbar-inverse{:role => "navigation"}
        .container
          = image_tag "logo.png", alt: "logo", class: "navbar-brand img-responsive"
          = link_to "SLON-DS Cloud", root_path, class: "navbar-brand"
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{:class => active_class_for('media_items')}= link_to t(:media_items_title), media_items_path
              %li{:class => active_class_for('playlists')}= link_to t(:playlists_title), playlists_path
              %li{:class => active_class_for('devices')}= link_to t(:devices_title), devices_path
              %li{:class => active_class_for('device_groups')}= link_to t('.device_groups'), device_groups_path
              %li{:class => active_class_for('reports')}= link_to t('.reports'), "#"
            %ul.navbar-right.nav
              %li
              - if user_signed_in?
                = succeed "." do
                  = image_tag current_user.gravatar_url, size: "32x32", alt: "gravatar", class: "img-rounded"
                - if current_user.has_role? :root
                  = link_to t('.admin_area'), rails_admin_path, :class => "btn btn-danger navbar-btn"
                = link_to current_user.email, edit_user_registration_path, :class => "btn btn-success navbar-btn"
                = link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-warning navbar-btn"
              - else
                = link_to "Sign up", new_user_registration_path, :class => "btn btn-default navbar-btn"
                = link_to "Login", new_user_session_path, :class => "btn btn-success navbar-btn"
            
      .container
        .content
          .row
            .col-md-12
              = render 'layouts/messages'
            .col-md-12
              = yield
              = tag :br
            .footer{:style => "clear:both;margin-top:10px"}
              = tag :hr
              = link_to image_tag('fb-logo.png'), 'https://www.facebook.com/groups/1563904673876402', size: '16x16', :target => "_blank"
              = link_to image_tag('vk-logo.png'), 'https://vk.com/slonds', size: '16x16', :target => "_blank"
              |
              = link_to t(".help"), "http://slon-ds.ru", :target => "_blank"
              |
              = link_to t(".contact_us"), "http://slon-ds.ru", :target => "_blank"
              |
              = link_to t(".privacy policy"), "http://slon-ds.ru", :target => "_blank"