!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= "SLON-DS Cloud" + (content_for?(:title) ? " | " + yield(:title) : "") 
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = yield(:head)
  %body
    #main{:role => "main"}
      %nav.navbar.navbar-inverse{:role => "navigation"}
        .container
          = image_tag "logo.png", alt: "logo", class: "navbar-brand img-responsive"
          = link_to "SLON-DS Cloud", root_path, class: "navbar-brand"
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{:class => active_class_for('devices')}= link_to t(:devices_title), devices_path
              %li{:class => active_class_for('media_items')}= link_to t(:media_items_title), media_items_path
              %li{:class => active_class_for('playlists')}= link_to t(:playlists_title), playlists_path
            
      .container
        .content
          .row
            .col-md-12
              = render 'layouts/messages'
            .col-md-12
              = yield
          /%footer
          /  .navbar-fixed-bottom.row
          /    .container
          /      .col-md-12
